# Entornos virtuales de Python
.venv/
venv/
env/
ENV/

# Cache de Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Jupyter / notebooks
.ipynb_checkpoints/
*.ipynb_checkpoints

# Entornos / editores
.vscode/
.idea/
*.swp

# Archivos del sistema operativo
.DS_Store
Thumbs.db
desktop.ini
